<h1>Schools</h1>

<!-- <p>vast-harbor-97969</p> -->
<div>
	<ul>
		<% @schools.each do |school|%>
			<li><h4>School:</h4><%= school.name %>, <%= school.grade %> grade</li>
			
			<li>Bus Info: <%= school.buses.each do |bus| bus.bus_number end%></li>
		<% end %>
	</ul>
</div>
