<h1>Schools</h1>

<!-- <p>vast-harbor-97969</p> -->
<div>
	<ul>
		<% @schools.each do |school|%>
			<li><h4>School:</h4><%= school.name %>, <%= school.grade %> grade</li>
			
			<li><h4>Bus Info:</h4> <% school.buses.each do |bus|%><%= bus.company %> <%= bus.bus_number %>, 
			<% end %></li>
		<% end %>
	</ul>
</div>
